backend/contrib/n8n.json
{
  "name": "跨境咨询",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.amz123.com/ugc/v1/user_content/forum_list",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"ban\": 0,\n  \"fid\": 4,\n  \"is_new\": 1,\n  \"page\": 1,\n  \"page_size\": 20,\n  \"tag_id\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        180
      ],
      "id": "c0ef5204-9e72-4d06-a17d-34532c6cdb82",
      "name": "抓取跨境头条数据"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        260,
        0
      ],
      "id": "fdad9c33-6d3d-45a9-ab65-3617541d20eb",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=并收集以下数据： \n```\n{{ $json.data }}\n```\n\n跨境咨询{{ $json.tm }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# 角色\n你是一位跨境每日资讯专业助手，每天为用户提供最新的最丰富的跨境电商行业资讯。你的目标是确保资讯的准确性和及时性，帮助用户了解跨境电商领域的最新趋势和机会。你会根据用户的具体需求，提供个性化的资讯推送服务，并且你的回答会完整丰富且有数据辅助，便于用户快速获取所需信息。\n\n## 技能\n### 技能 1: 提供国际市场动态\n- 每天搜集并整理国际市场动态（包括重大节日、庆典、假日的销售趋势和数据分析及预测），确保内容全面完整且具有市场价值。\n- 区分主要国家区域和潜力国家区域\n- 提供全面的国际市场动态摘要，帮助用户全面了解当前的市场情况。\n- 增加提示、痛点、机会点的带精准数据。\n\n### 技能 2: 分析国际跨境政策变化及趋势\n- 每天搜集并分析国际跨境政策的变化及其趋势，数字化呈现，确保内容全面完整且具有市场价值。\n- 提供全面的政策变化及趋势摘要，帮助用户了解政策变动对业务的影响。\n- 跨境运输及配送供应链的变化趋势\n- 增加提示、痛点、机会点的带精准数据。\n\n### 技能 3: 更新各大平台信息\n- 每天搜集并更新各大电商平台的最新动态，包括新功能、规则变更等，数字化呈现，确保内容全面完整且具有市场价值。\n- 提供详细的平台更新摘要，帮助用户了解平台的最新变化。\n- 增加提示、痛点、机会点的带精准数据。\n\n### 技能 4: 推荐热门产品\n- 每天推荐热门产品系列，并附上推荐理由，确保内容全面完整且具有市场价值。\n- 提供潜力、热门产品推荐，帮助用户发现新的商机。\n- 增加提示、痛点、机会点的带精准数据。\n\n### 技能 6: 个性化资讯推送\n- 根据用户的详细版、专业版，提供个性化的资讯推送服务。\n- 通过搜索工具和知识库获取相关信息，确保资讯的准确性和及时性。\n\n## 约束条件\n- 所有资讯必须包含日期，确保信息的时效性。\n- 回答内容必须简洁明了，便于用户快速获取所需信息。\n- 确保所有资讯的准确性和及时性，避免提供过时或不准确的信息。\n- 保持中立立场，不引入个人观点或偏见。\n- 增加提示、痛点、机会点的带精准数据的注解。\n- 关注重大活动、节日和潜力趋势，数字化呈现。\n\n## 注意事项\n- 保持资讯内容的客观性和准确性。\n- 避免使用过于复杂或技术性的语言，确保用户能够轻松理解。\n- 保持中立立场，不引入个人观点或偏见。\n- 确保所有资讯的准确性和及时性，避免提供过时或不准确的信息。\n\n## 工具\n- 使用搜索引擎获取最新的国际市场动态、政策变化、平台更新和热门产品信息。\n- 利用知识库中的历史数据和已知信息进行补充和验证。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        680,
        0
      ],
      "id": "1e79ad7c-bf3d-4592-b689-0139ac4829cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        660,
        200
      ],
      "id": "97e92bdd-3e9a-4f22-bb5c-318e25ee73a8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "QhunFAOP3JyTCDYi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cross_consultations",
          "mode": "list",
          "cachedResultName": "cross_consultations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $node[\"db\"].json.tm }}",
            "content": "={{ $json.output }}",
            "id": "={{ $node[\"db\"].json.id }}",
            "status": 2
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        0
      ],
      "id": "169607ac-7430-4e74-8ca5-69f5e9f80a68",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "rAs6tBPLhdqEiK4H",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ab1cbb6-2813-4456-b0fc-ceb609a5109a",
              "name": "ts",
              "value": "={{ Math.floor(new Date($json.body.prompt).getTime() / 1000) }}",
              "type": "number"
            },
            {
              "id": "57bb8bff-e6e8-4569-9a3d-9780a327935b",
              "name": "tm",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        20
      ],
      "id": "b0a4e98c-7063-4c3d-b5b3-8be12fab4a98",
      "name": "parameters"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dc366f29-0d0b-4c69-a8f7-235ad494cdcc",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        20
      ],
      "id": "80ad9993-fbfc-4a39-a6a3-b808ebed850d",
      "name": "Webhook",
      "webhookId": "dc366f29-0d0b-4c69-a8f7-235ad494cdcc"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cross_consultations",
          "mode": "list",
          "cachedResultName": "cross_consultations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $json.body.prompt }}",
            "status": 1,
            "content": "={{ \"\" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -260,
        -140
      ],
      "id": "180e61e1-5e7a-42c0-9228-a3099a66b7cd",
      "name": "init",
      "credentials": {
        "postgres": {
          "id": "rAs6tBPLhdqEiK4H",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        20,
        -60
      ],
      "id": "92767022-2d9a-44bc-97e4-06519d80e707",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet ts = 0;\nlet tm = '';\nlet id = '';\nlet rows = [];\nfor (const item of $input.all()) {\n  if (item.json.ts) {\n    ts = item.json.ts\n    tm = item.json.tm\n    continue\n  }\n\n  if (item.json.id) {\n    id = item.json.id\n    continue\n  }\n\n  if (item.json.data && item.json.data.rows) {\n    rows = item.json.data.rows\n  }\n}\n\n// 处理rows数据，添加ts字段并保留所需字段\nconst data = rows.filter(row => row.published_at >= ts - 84600 ).map(row => {\n  return {\n    title: row.title,\n    description: row.description,\n    published_at: new Date(row.published_at * 1e3)\n    .toISOString()\n    .replace('T', ' ')\n    .slice(0, 19)\n  };\n});\n\nreturn {id:id, tm:tm, data: data};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "33011f58-65b3-4610-867f-b09a96fbb096",
      "name": "db"
    }
  ],
  "pinData": {
    "db": [
      {
        "json": {
          "id": "e0fc3adc-1b15-4e7b-b2e7-12c030fe9637",
          "tm": "2025-06-03",
          "data": [
            {
              "title": "Temu欧洲用户满意度上升，性价比高为消费主因",
              "description": "AMZ123获悉，近日，Temu在进入欧洲市场两年后，正逐渐在多个国家建立起价格优势和用户基础。根据Temu于2025年1月联合Ipsos开展的一项调查，德国消费者在2024年通过Temu购物的平均节省比例达27%。此外，有41%的德国用户表示，他们不理解为何其他平台上相同商品的价格要高出许多。调查显示，Temu在多个欧洲国家都因低价策略吸引大量用户。在英国，60%的Temu用户表示正是因为平台商品价格便宜才开始使用该平台；法国有62%的受访者给出相同理由，西班牙也有54%的用户将低价列为主要购物动因。此外，Temu丰富的商品品类也被多个国家的用户提及，成为平台吸引力的重要因素之一。",
              "published_at": "2025-06-03 09:53:36"
            },
            {
              "title": "美国CPSC紧急召回超3万件雪人玩具，亚马逊等多平台在售",
              "description": "AMZ123获悉，近日，美国消费品安全委员会（CPSC）发布了一条紧急召回报告，召回产品为Step2品牌的“My First Snowman”儿童玩具。原因是该玩具顶部的塑料礼帽存在严重安全隐患，礼帽可能会破裂成小块，构成对儿童的窒息风险，可能导致严重伤害甚至死亡。召回产品在2024年3月至12月期间通过Step2官网、亚马逊、沃尔玛和Wayfair等平台销售，售价约为40美元。此次召回涉及约30,800件产品，其中692件售往加拿大。产品由中国制造，进口商为位于俄亥俄州斯特里茨伯勒的Step2 Company LLC。",
              "published_at": "2025-06-03 09:22:53"
            },
            {
              "title": "Allegro优化发货评分机制，新增\"预计配送时间\"作为评分标准",
              "description": "AMZ123获悉，近日，Allegro平台宣布自6月4日起优化发货评分机制，新增\"预计配送时间\"作为评分标准。卖家在\"按时发货\"和\"快速发货\"两项指标中，除原有包裹扫描时间要求外，只要实际配送未超过买家下单时看到的预计时间，同样可获得加分。新规特别利好国际订单和延迟扫描包裹，若物流时效符合预期，仍可计入评分。平台已在订单详情页增加预计配送时间显示，并将更新配送效率报告。评分门槛保持不变，仅通过增加评分维度帮助卖家更容易获得高分。建议卖家及时调整发货策略，充分利用新规提升店铺表现。",
              "published_at": "2025-06-03 08:58:10"
            },
            {
              "title": "法国消费者最在意配送费与时效，36.9%因配送问题弃购",
              "description": "AMZ123获悉，近日，根据Sendcloud的调查，尽管近年来电商持续增长，但配送相关问题仍是法国消费者放弃线上购物的主要原因。36.9%的法国消费者在过去一年中曾因配送体验问题而放弃线上购物。高昂的配送费用是最主要的弃购因素，76.3%的受访者表示这是他们放弃购买的原因。此外，54.8%的消费者对配送速度感到不满，31.8%的人曾因过去的不良配送体验而失去信心，而24.7%的人则认为配送选项不够清晰或不够便利。",
              "published_at": "2025-06-03 08:35:22"
            },
            {
              "title": "Meta计划2026年推出全自动AI广告系统，仅需输入网址即可投放广告",
              "description": "AMZ123获悉，Meta计划在2026年之前推出全自动广告投放系统，允许广告主只需输入企业网址，其余所有广告内容的创意、投放和优化环节将完全由AI系统接管。这一计划基于Meta日益完善的AI广告工具，并将通过自动生成图像、视频、文案等内容，同时决定广告应在Facebook和Instagram上投放的对象，并对预算分配提出建议。",
              "published_at": "2025-06-03 08:03:46"
            },
            {
              "title": "乐动机器人冲刺港股IPO",
              "description": "AMZ123获悉，5月30日，深圳乐动机器人股份有限公司正式向港交所递交招股说明书，计划在主板挂牌上市，海通国际和国泰君安国际担任联席保荐人。此次冲刺港股IPO，乐动机器人计划将募集资金重点投入技术研发、品牌国际化推广、产能扩充以及潜在的收购项目。",
              "published_at": "2025-06-03 07:44:09"
            },
            {
              "title": "Goodai拟1.08亿美元收购DTC韩妆品牌Skinfood",
              "description": "AMZ123获悉，近日，韩国美妆初创公司Goodai Global正通过收购加速扩张品牌版图，意图打造类似欧莱雅（L'Oréal）的美妆帝国。据悉，Goodai Global正计划以约1500亿韩元（约合1.08亿美元）收购韩国第一代独立美妆品牌Skinfood，并已与首尔私募股权公司The Hahm Partners组成财团，被选为Skinfood的优先竞标方。此次出售方为本地私募股权机构Pine Tree Partners。",
              "published_at": "2025-06-03 07:17:24"
            },
            {
              "title": "TikTok Shop德国知名度提高，实际购物转化率仅2.5%",
              "description": "AMZ123获悉，近日，根据媒体机构OMD的调研数据，自2025年3月31日在德国正式上线以来，TikTok Shop仍未在消费者中获得广泛采用。尽管三分之一的德国消费者已经听说过TikTok Shop，但实际使用者比例极低，仅有约二十五分之一的人在平台上完成过购物。调查结果显示，有34%的受访者知道TikTok Shop的存在。在18至29岁的年轻人群中，这一比例更高，达到47%。这意味着几乎一半的德国年轻成年人已经知晓该平台的购物功能。",
              "published_at": "2025-06-03 06:56:39"
            },
            {
              "title": "霸王茶姬公布2025年第一季度财报",
              "description": "AMZ123获悉，近日，霸王茶姬公开了其上市后的首份财报。财报显示，截至今年3月31日的2025年第一季度，其全球门店数达到6681家，季度总GMV达82.3亿元，同比增长38%；本季度实现总净收入33.9亿元，同比增长35.4%；实现净利润6.77亿元，同比增长13.8%。",
              "published_at": "2025-06-03 06:29:29"
            },
            {
              "title": "Wildberries新物流综合体开业",
              "description": "AMZ123获悉，近日，在坦波夫州科托夫斯克，Wildberries公司的新物流综合体开业。该仓库分两阶段启用，第一阶段物流中心占地6.1万平方米，第二阶段又投入使用4.7万平方米，总面积达10.8万平方米。操作区配备现代化技术，安装三级自动分拣输送机，未来日处理能力将超140万件货物。",
              "published_at": "2025-06-03 06:00:56"
            },
            {
              "title": "67%罗马尼亚消费者价格敏感度高",
              "description": "近日，罗马尼亚快递公司Cargus的全国调查显示，67%的罗马尼亚人在选择网店时最看重产品价格，价格敏感度在Z世代和千禧一代中尤为突出，超70%的这两类受访者会依据价格选择网店。",
              "published_at": "2025-06-03 05:32:00"
            },
            {
              "title": "谷歌 YouTube Premium Lite 会员 6 月 30 日起执行新规",
              "description": "AMZ123获悉，谷歌宣布旗下 YouTube Premium Lite 订阅计划将于 6 月 30 日执行新规，Shorts 短视频将新增广告内容，用户收看“大部分视频”依然不会存在广告。据介绍，YouTube Premium Lite 订阅计划相对于 YouTube Premium 会员主要缺少了视频下载 / 视频后台播放，同时仅享有“大多数视频无广告”体验（用户观看游戏、时尚、美妆、新闻等类型的视频时都不会看到广告，但查看音乐视频、或是在搜索界面中可能看到广告），作为比较，YouTube Premium 订阅计划号称可实现“无广告”体验。",
              "published_at": "2025-06-03 03:50:44"
            },
            {
              "title": "亚马逊6月起调整FBA入库运费，尺寸不符将自动补差或退款",
              "description": "近日，2025年6月12日起，亚马逊将正式实施一项针对入库FBA货件的运费调整政策，旨在解决卖家申报的包裹尺寸与实际测量数据之间存在的差异。",
              "published_at": "2025-06-03 03:27:17"
            },
            {
              "title": "Shopee推出家具卖家激励计划",
              "description": "AMZ123获悉，2025年6月起，Shopee新加坡、马来西亚、泰国、越南站点针对家具类目推出专项扶持计划：跨境与本地店铺达成目标后，可获6个月3%佣金减免、最高585美金/月广告金（新加坡站达600新币）、10%商品价格补贴及500美金优惠券赞助。",
              "published_at": "2025-06-03 02:56:18"
            },
            {
              "title": "欧盟称将与美加快关税谈判进程",
              "description": "AMZ123获悉，当地时间6月2日，欧盟委员会新闻发言人表示，欧盟对美国宣布将钢铁和铝关税从25%提高至50%深表遗憾，这一决定进一步加剧了大西洋两岸的经济不确定性。发言人称谈判仍在继续——双方已同意加快谈判进程，本周将举行会谈。欧盟贸易专员塞夫科维奇将于6月4日在法国巴黎会见美国贸易代表格里尔。",
              "published_at": "2025-06-03 02:32:33"
            },
            {
              "title": "沃尔玛更新物流政策，卖家可使用亚马逊MCF配送",
              "description": "近日，沃尔玛更新了其物流政策，允许平台卖家使用亚马逊的多渠道配送服务（MCF，Multi Channel Fulfillment）来履行订单。",
              "published_at": "2025-06-03 02:06:29"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "抓取跨境头条数据": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parameters": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "抓取跨境头条数据",
            "type": "main",
            "index": 0
          },
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          },
          {
            "node": "init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "db": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2f7bd4f-3bab-4a00-a14d-c1c83ffc4936",
  "meta": {
    "instanceId": "b628b1ad9955d008d255c353616385c237e1e4d168cfea9528629caa086e19fe"
  },
  "id": "PMQSwWqXbckjlqlw",
  "tags": []
}